<main>
    <hr>
    <section id="articles">
        {{#each article}}
        <div class="item" data-id="{{id}}">
            <h3><a href="{{article_link}}" target="_blank">{{headline}}</a></h3>
            <img src="{{img_link}}">
            <p>Summary: {{teaser}}</p>
            {{#unless saved}}
            <button id="{{id}}" class="btn save">Favorite</button>
            {{/unless}}
            {{#if saved}}
            <button id="{{id}}" class="btn save">Remove from Favorites</button>
            <button data-id="{{id}}" class="btn note">Notes</button>
            {{/if}}

        </div>
        <hr>
        <div id="modal{{id}}" class="modal">
            <div class="modal-content">
                <h4>{{headline}}</h4>
                <div class="notes"><h5>Notes</h5>
                    {{#each notes}}
                    <p>Name: {{author}}</p>
                    <p>Note: {{body}}</p>
                    {{/each}}
                </div>
                <div class="row">
                    <form class="col s12" action="/notes/{{id}}" method="POST">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="name" type="text" name="name">
                                <label for="name">Name</label>
                            </div>
                            <div class="input-field col s12">
                                <textarea id="note" class="materialize-textarea" name="note"></textarea>
                                <label for="note">Add a note...</label>
                                <button class="waves-effect waves-light btn add-note" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn">Close</a>
            </div>
        </div>
        {{/each}}
    </section>

</main>